<div class="card card-cascade wider reverse my-4 pb-5">
    <!-- <div class="view view-cascade overlay wow fadeIn">
        <img src="/img/money-slide.jpg" class="img-fluid">
    </div> -->
    
    <div class="card-body card-body-cascade text-center wow fadeIn" data-wow-delay="0.2s">
        <!--Title-->
        <h4 class="card-title"><strong>Welcome Back</strong></h4>
        <h5 class="light-blue-text"><strong><%= user.firstname%> <%= user.lastname%></strong></h5>

        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam id officiis quisquam veritatis blanditiis architecto quae minima iusto perferendis rem, ut odio nihil quibusdam provident beatae aspernatur, magni expedita autem.
        </p>
        
        <a href="#" class="btn aqua-gradient" data-toggle="modal" data-target="#addTransaction">Send Money</a>
        
        <a href="#" class="btn aqua-gradient" onclick="handler('clear_transaction','Complete a Transaction','Please enter transaction code')">Clear Transaction</a>
    </div>
</div>

